.order-text {
    font-size: 20px;
  }

.history {
  font-size: 25px;
}

body {
    /* background-image: url('/static/images/fon.jpg');
    background-size: cover;
    background-repeat: no-repeat; */


  /*background-color: #ac3737;*/
  /*background-color:#AFEEEE;*/
  background-color:#B0E0E6;
}
